body {
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    width: 100vw;
    margin: 0px;
    overflow-x: hidden;
}
#footer-container {
    position: fixed;
    bottom: 0px;
    width: 100vw;
    height: 25px;
    font-weight: 600;
}
footer {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    font-family: "Ubuntu", sans-serif;
    font-weight: 600;
    letter-spacing: 0.5px;
}
#link {
    color: rgb(21, 255, 0);
}
#clock {
    padding-right: 5px;
    position:absolute;
    right: 0;
}
h1 {
    color: white;
    font-size: xx-large;
    text-decoration-color: #3e443d;
    text-decoration-thickness: 5px;
    font-family: 'Ubuntu', sans-serif;
}
#box {
    width: fit-content;
    height: fit-content;
    display: block;
    border: 0px solid orange;
    border-radius: 30px;
}

#itemsBox {
    margin-right: 15px;
}

ul {
    padding-left: 25px;
    list-style-type: none;
}

li {
    font-family: 'Ubuntu', sans-serif;
    font-size: larger;
    color: white;
    text-decoration: underline;
    font-weight: 800;
}

p {
    font-family: 'Ubuntu', sans-serif;
    font-size: medium;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

input {
    width: 50vw;
    height: 25px;
}
.profile img {
    float: left;
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.profile h1 {
    margin: 0;
}

#main-content {
  width: inherit;
  height: inherit;
  display: grid;
  place-items: center;
  position: relative;
}

#profiledesc {
  padding-left: 0px;
  margin-left: 10px;
}

#username {
  text-decoration: none;
  font-size: xx-large;
}

#onlinestate {
  text-decoration: none;
  font-size: large;
}

.arrow {
  border: solid #fffbfb47;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 25px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: absolute;
  bottom: 15px;
}

#help-content {
  display: flex;
  width: 100vw;
  height: fit-content;
  background-color: rgba(0, 255, 255, 0.171);
  border: 2px solid rgba(141, 141, 141, 0.247);
  border-right: 0;
  border-left: 0;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.help-element {
  height: 15vh;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 50px;
  padding-left: 50px;
}

.help-element h1 {
  font-size: x-large;
}

.help-element p {
  margin: 0px;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #3d3d3d;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(143, 143, 143);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(250, 250, 250);
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin: auto;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }